*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* --main-color: #10cab7; */
    --main-color:#2E86C1;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
.container{
    width:min(1200px, 90%);
    margin: auto;
    padding: 20px 40px;
}
/* ===================nav bar=========================== */
header{
    height: 100vh;
    background-image: url(../Image/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.nav{
    width: 100%;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 999999;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
}
.nav-bar img{
    width: 100px;
}
/* =====================menu=================================== */
.menu-toggle{
    display: none;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: .4s ease;
    display: none;
}
.links span{
    width: 25px;
    height: 3px;
    background-color: #2E86C1;
}
.menu-toggle:checked ~.links span:nth-child(1){
    transform: translateY(17px) rotate(45deg);
}
.menu-toggle:checked ~ .links span:nth-child(2){
    opacity: 0;
}
.menu-toggle:checked ~ .links span:nth-child(3){
        transform: translateY(0px) rotate(-45deg);
}
.menu{
    display: flex;
    gap: 30px;
}
.menu li{
    list-style: none;
}
.menu a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;

    font-size: 19px;
    color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 8px;
    transition: .4s ease;
    position: relative;
}
.menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 0;
    height: 100%;
    background: rgb(34, 204, 204);
    border-radius: 8px;
    z-index: -1;
    transition: .4s ease;
}
.menu a:hover::before{
    width: 100%;
}
/* ============================================================== */
.section-hero{
    padding-top: 120px;
   
}
.hero{
   text-align: center;
   margin-top: 80px;
}
h1{
    font-size:40px;
    color: var(--main-color);
}
.desc{
    font-size: 19px;
    color: var(--main-duration);
    line-height: 1.5;
}
/* ==========================about===================================== */
.about{
    background-color: #ccc;
    padding: 40px 0;

}
.box-about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
}
.box-about .card{
    padding: 20px;
    text-align: center;
    background-color: var(--section-background);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.103);
    transition:transform .4s ease ;
}
.box-about .card:hover{
    transform: translateY(-5px);
}
.card i{
    font-size: 30px;
    color: var(--main-color);
}
h3{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    font-size: 25px;
}
/* =================================================================== */
.services{
    padding: 40px 10px 20px;
}
h3{
    font-size:40px ;
    text-align: center;
    color: var(--main-color);
}
h3 + p{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 40px;
}
.services-box{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cards{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
.cards .card{
    display: flex;
    gap: 40px;
}
.services-image{
    width: 280px;
    position: relative;
    padding-right: 30px;
}
.services-image::after{
    content: "";
    height: 120%;
    width: 80px;
    right: -25px;
    top: -40px;
    background-color:var(--secondary-color);
    position: absolute;
    z-index: -1;
}
.services-image img{
    width: 100%;
}
.cards .card i{
    width: 25px;
    font-size: 35px;
}
.cards .card strong{
    font-size: 25px;
}
.cards .card p{
    margin-top: 30px;
    /* font-size: 14px; */
    line-height: 1.6;
}
/* ============================================================== */
.projects{
    padding: 50px 10px 20px;
}
.projects h4{
    text-align: center;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 500;
}
h4 + p{
    text-align: center;
    margin-bottom: 40px;
}
.projects .pro-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.projects .card img{
    width: 100%;
}
.info{
    padding: 10px ;
}
.info strong{
    display: block;
    font-weight: 700;
    margin: 20px 0;
}
/* =============================================================== */
@media (max-width:600px){
    .container{
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    /* nav bar */
    /* .nav-bar{
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    } */
    .links{
        display: flex;
    }
    .menu{
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: #d2d8db;
        padding: 0;
        margin: 0;
        transition: .4s ease-in-out;
    }
    .menu li{
        text-align: center;
    }
    .menu-toggle:checked ~ .menu{
        left: 0;
    }
    /*  */
    .hero{
        margin-top: 150px;
    }
    /*  */
    .services-image{
        display: none;
    }
    .services-box{
        
        justify-content: center;
        align-items: center;
    }
    .cards{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .cards .card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tittel{
        text-align: center;
        gap:15px;
    }
}
@media{

}



